@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Merriweather', cursive;
}
.Block1 {
  display: flex;
}
.left-column {
  width: 170%;
  background-color:black;
  padding: 28%;
  color: wheat;
}
h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
}
.right-column {
  width: 50%;
}
figure {
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    padding-bottom: 50px;
  }
  figure {
    height: 300px;
  }
}

